<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<p th:fragment="headerElement" th:remove="tag">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->

<!--    <script-->
<!--            src="https://code.jquery.com/jquery-3.4.1.min.js"-->
<!--            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="-->
<!--            crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</p>

<div th:fragment="navbar" th:remove="tag">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a href="/" class="navbar-brand">
            <img src="https://seeklogo.com/images/D/Dices-logo-0B284DF5A0-seeklogo.com.png"
                 height="35px" alt="Boardgame Battleground">
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <div class="navbar-nav">
                <h3 sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUsername()}"
                   href="#" class="nav-item nav-link active"></h3>



            </div>
            <div class="navbar-nav ml-auto">

                <div class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')" style="margin-right: 10px;">
                    <a class=" btn btn-warning dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin tools
                    </a>
                    <div class="dropdown-menu" >
                        <a class="dropdown-item" href="/admin/users">Users</a>
                        <a class="dropdown-item" href="/admin/games">Board games</a>
                        <a class="dropdown-item" href="/admin/cities">Cities</a>
                    </div>
                </div>


<!--                <div sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                    <a href="/admin/admin_page" class="float-left btn btn-warning" style="margin-right: 10px;">Admin-->
<!--                        page</a>-->
<!--                </div>-->

                <div sec:authorize="isAuthenticated()">
                    <form action="/user/back" method="get" class="float-right">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button class="btn btn-primary" type="submit" style="margin-right: 10px;">Account</button>
                    </form>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <form action="/logout" method="post" class="float-right">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button class="btn btn-primary" type="submit" style="margin-right: 10px;">Sign out</button>
                    </form>
                </div>

                <div sec:authorize="!isAuthenticated()">
                    <a href="/login" class="float-right btn btn-primary" style="margin-right: 10px;">Sign in</a>
                </div>

                <div sec:authorize="!isAuthenticated()">
                    <form action="/user/registration" method="get" class="float-right">
                        <button formmethod="get" class="btn btn-primary" type="submit" style="margin-right: 10px;">
                            Registration
                        </button>
                    </form>
                </div>


            </div>
        </div>
    </nav>
</div>


<div th:fragment="table-sort" th:remove="tag">
    <script>
        function sortTable(n, s) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById(s);
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.getElementsByTagName("TR");
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (!isNaN(Number(x.innerHTML)) && !isNaN(Number(y.innerHTML))) {
                        x = Number(x.innerHTML.toLowerCase());
                        y = Number(y.innerHTML.toLowerCase());
                    } else {
                        x = x.innerHTML.toLowerCase();
                        y = y.innerHTML.toLowerCase();
                    }
                    if (dir == "asc") {
                        if (x > y) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x < y) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
</div>


</body>
</html>
