<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Adding games</title>
    <script th:replace="insert/fragment :: headerElement"></script>
</head>
<body>
<script th:replace="insert/fragment :: navbar"></script>



<!--                       ************************************                 -->

<div class="container">

    <div class="row">
        <a class="btn btn-outline-dark btn-sm my-1" href="/user/back">Back</a>
    </div>


    <div class="row justify-content-center">
        <h3 th:if="${#arrays.isEmpty(games)}">All our games are in your collection!</h3>
        <div class="col-8" th:if="!${#arrays.isEmpty(games)}">
            <table class="table" id="games">
                <tr>
                    <th class="btn-dark"></th>
                    <th class="btn-dark" onclick="sortTable(1, 'games')"><a>Title</a></th>
                    <th class="btn-dark" onclick="sortTable(2, 'games')"><a>Rating</a></th>
                    <th class="btn-dark" onclick="sortTable(3, 'games')"><a>Owners</a></th>
                    <th class="btn-dark" onclick="sortTable(4, 'games')"><a>Meetings</a></th>
                    <th class="btn-dark"></th>
                </tr>
                <th:block th:if="${games}" th:each="game: ${games}">
                    <tr th:if="${game.getIsActive()}">
                        <td align="center"><img th:src="${game.getLogo()}" height="30px"></td>
                        <td th:text="${game.getTitle()}" height="16px"></td>
                        <td th:text="${#numbers.formatDecimal(game.getRatingValue(),1,2)}" align="center"></td>
                        <td th:text="${game.getNumberOfOwners()}" align="center"></td>
                        <td th:text="${game.getNumberOfMeetings()}" align="center"></td>
                        <td><a class="btn btn-outline-dark btn-sm my-1" th:href="@{/user/add_game(gameId = ${game.id})}">Add to collection</a></td>
                    </tr>
                </th:block>
            </table>

        </div>
    </div>


</div>

<script th:replace="insert/fragment :: table-sort"></script>
</body>

</html>