<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <script th:replace="insert/fragment :: headerElement"></script>
</head>
<body>
<script th:replace="insert/fragment :: navbar"></script>
<div class="alert alert-danger" role="alert" th:if="${error}"
     th:text="${error}"></div>
<div class="container" th:if="${error == null}">
    <div class="row" sec:authorize="!isAuthenticated()">
        <a class="btn btn-outline-dark btn-sm my-1" href="/">Back</a>
    </div>
    <div class="row" sec:authorize="isAuthenticated()">
        <a class="btn btn-outline-dark btn-sm my-1" href="/user/back">Back</a>
    </div>


    <div class="row justify-content-center">
        <h2> The game of
            <span th:text="${game.getTitle()}"></span>
        </h2>
    </div>


    <!--    GAME DETAILS-->
    <div class="row justify-content-center">
        <div class="col-10">

            <table cellpadding="20px">
                <tr>
                    <td>

                        <div><img th:src="${game.getLogo()}" height="150px"></div>
                        <div><span>Rating: <span th:text="${#numbers.formatDecimal(game.getRatingValue(),1,2)}"></span></span></div>
                        <div><span>Meetings: <span th:text="${game.getNumberOfMeetings()}"></span></span></div>
                        <div><span>Owners: <span th:text="${game.getNumberOfOwners()}"></span></span></div>
                        <div sec:authorize="isAuthenticated()">
                            <form onSubmit='return confirm("Delete game from your collection?");'
                                  th:action="@{/user/remove_game}" method="get">
                                <input hidden name="gameId" th:value="${game.getId()}">
                                <input class="btn btn-outline-dark btn-sm my-1" type="submit" value="Delete game">
                            </form>
                            <a class="btn btn-outline-dark btn-sm my-1" th:href="@{/user/rate_game(gameId=${game.getId()})}">Rate
                                game</a>
                        </div>
                    </td>
                    <td valign="top">
                        <p th:text="${game.getDescription()}"></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br>

    <!--    MEETINGS-->
    <div sec:authorize="isAuthenticated()">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2>Meetings for <span th:text="${game.getTitle()}"></span>
                    <a class="btn btn-outline-dark btn-sm my-1" th:href="@{/user/createMeet_page(gameId = ${game.id})}">+</a>
                </h2>

                <table class="table" id="meets" th:if="!${#arrays.isEmpty(game.getMeetings())}">
                    <tr>
                        <th class="btn-dark" onclick="sortTable(0, 'meets')"><a>City</a></th>
                        <th class="btn-dark" onclick="sortTable(1, 'meets')"><a>Location</a></th>
                        <th class="btn-dark" onclick="sortTable(2, 'meets')"><a>Date</a></th>
                        <th class="btn-dark" onclick="sortTable(3, 'meets')"><a>Time</a></th>
                        <th class="btn-dark" onclick="sortTable(4, 'meets')"><a>Members</a></th>
                        <th class="btn-dark" onclick="sortTable(5, 'meets')"><a>Creator</a></th>
                        <th class="btn-dark"></th>
                    </tr>
                    <th:block th:each="meeting : ${meetings}">
                        <tr>

                            <td th:text="${meeting.getCity().getName()}" height="16px"></td>
                            <td th:text="${meeting.getLocation()}"></td>
                            <td th:text="${#temporals.format(meeting.getDateTime(), 'dd-MM-yyyy')}"></td>
                            <td th:text="${#temporals.format(meeting.getDateTime(), 'HH:mm')}"></td>
                            <td th:text="${meeting.getNumberOfMembers()}" align="center"></td>
                            <td th:text="${meeting.getCreator().getLogin()}"></td>
                            <div th:if="${!user.getMeetingSet().contains(meeting)}">
                                <td th:if="${meeting.getState().name() != 'Activated'}">
                                    <a class="btn btn-outline-dark btn-sm my-1" th:href="@{/user/meet_in(meetId = ${meeting.getId()})}">Take part</a>
                                </td>
                                <td th:if="${meeting.getState().name() == 'Activated'}">Meeting in process</td>
                            </div>

                            <td th:if="${user.getMeetingSet().contains(meeting)}">Already in!</td>

                        </tr>
                    </th:block>
                </table>
            </div>
        </div>

    </div>


</div>

<script th:replace="insert/fragment :: table-sort"></script>
</body>
</html>