<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Meeting details</title>
    <script th:replace="insert/fragment :: headerElement"></script>
</head>
<body>
<script th:replace="insert/fragment :: navbar"></script>
<div class="alert alert-danger" role="alert" th:if="${error}"
     th:text="${error}"></div>
<div class="container">
    <div class="row" sec:authorize="!isAuthenticated()">
        <a class="btn btn-outline-dark btn-sm my-1" href="/">Back</a>
    </div>
    <div class="row" sec:authorize="isAuthenticated()">
        <a class="btn btn-outline-dark btn-sm my-1" href="/user/back">Back</a>
    </div>
    <div class="row justify-content-center">
        <h2>
            <span th:text="${meet.getGame().getTitle()}"></span>
            meeting in
            <span th:text="${meet.getCity().getName()}"></span>
        </h2>
    </div>
    <br>
    <!--    GAME DETAILS-->
    <div class="row justify-content-center">
        <div class="col-2">
            <div><img th:src="${meet.getCity().getLogo()}" height="100px"></div>
            <div><span>Location: <span th:text="${meet.getLocation()}"></span></span></div>
            <div><span>Date: <span th:text="${#temporals.format(meet.getDateTime(), 'dd-MM-yyyy')}"></span></span></div>
            <div><span>Time: <span th:text="${#temporals.format(meet.getDateTime(), 'HH:mm')}"></span></span></div>
            <div><span>Status: <span th:text="${meet.getState().name().toLowerCase()}"></span></span></div>
            <div><span>Creator: <span th:text="${meet.getCreator().getLogin()}"></span></span></div>
            <div th:if="${meet.getCreator() == user}">
                <a class="btn btn-outline-dark btn-sm my-1" th:if="${meet.getState().name() != 'Activated'}"
                   th:onclick="return confirm('Delete meeting?')"
                   th:href="@{/user/delete_meet(meetId = ${meet.getId()})}">Delete meeting</a>
                <a class="btn btn-outline-dark btn-sm my-1" th:if="${meet.getState().name() == 'Activated'}"
                   th:onclick="return confirm('Close meeting?')"
                   th:href="@{/user/close_meet(meetId = ${meet.getId()})}">Close meeting</a>
                <br>
                <a class="btn btn-outline-dark btn-sm my-1" th:if="${meet.getState().name() == 'Started'}"
                   th:href="@{/user/activate_meet(meetId = ${meet.getId()})}">Activate meeting</a>
            </div>
            <div th:if="${!(meet.getCreator() == user) and meet.getState().name() != 'Activated'}">
                <a class="btn btn-outline-dark btn-sm my-1" th:href="@{/user/leave_meet(meetId = ${meet.getId()})}">Leave meeting</a>
            </div>
        </div>

        <div class="col-7">
            <h3>Members</h3>
            <form th:action="@{/user/rate_meeting}" method="post" th:object="${ratingDTO.getResults()}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" name="meetId" th:value="${meet.getId()}"/>
                <fieldset>
                    <table class="table" id="users">
                        <tr>
                            <th class="btn-dark" onclick="sortTable(0, 'users')"><a>Login</a></th>
                            <th class="btn-dark" onclick="sortTable(1, 'users')"><a>City</a></th>
                            <th class="btn-dark" onclick="sortTable(2, 'users')"><a>Age</a></th>
                            <th class="btn-dark" onclick="sortTable(3, 'users')"><a>Game experience</a></th>
                            <th class="btn-dark" onclick="sortTable(4, 'users')"><a>Common experience</a></th>
                            <th class="btn-dark"></th>
                        </tr>
                        <th:block th:each="usr, itemStat : ${meet.getMembers()}">
                            <tr>
                                <td th:text="${usr.getLogin()}" height="16px"></td>
                                <td th:text="${usr.getCity().getName()}"></td>
                                <td th:text="${usr.getAge()}"></td>
                                <td th:text="${usr.getExperienceInGame(meet.getGame())}" align="center"></td>
                                <td th:text="${usr.getTotalExperience()}" align="center"></td>
                                <div th:if="${meet.getCreator() == user and meet.getState().name() != 'Activated'}">
                                    <td th:if="${user != usr}">
                                        <a class="btn btn-outline-dark btn-sm my-1" th:onclick="return confirm('Delete user from meeting?')"
                                           th:href="@{/user/delete_user_from_meet(userId = ${usr.getId()}, meetId = ${meet.getId()})}">Delete</a>
                                    </td>
                                    <td th:if="${user == usr}">
                                        Creator
                                    </td>
                                </div>

                                <td th:if="${meet.getState().name() == 'Activated' and !voicedUsers.contains(user)}">
                                    <input hidden th:name="|results[${itemStat.index}].userIdTo|"
                                           th:value="${usr.getId()}"/>
                                    <input type="number" min="0" th:max="${meet.getNumberOfMembers()}"
                                           class="form-control"
                                           th:name="|results[${itemStat.index}].rate|"/>
                                </td>
                                <td th:if="${voicedUsers.contains(usr)}">Voiced!</td>
                            </tr>
                        </th:block>
                    </table>
                </fieldset>
                <input th:if="${meet.getState().name() == 'Activated' and !voicedUsers.contains(user)}"
                       class="btn btn-outline-dark btn-sm my-1" type="submit" value="Rate members">
            </form>
        </div>
    </div>
</div>
<script th:replace="insert/fragment :: table-sort"></script>
</body>
</html>