<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <script th:replace="insert/fragment :: headerElement"></script>
</head>
<body>
<script th:replace="insert/fragment :: navbar"></script>

<div class="container">
    <div class="row">
        <a class="btn btn-outline-dark btn-sm my-1" href="/user/back">Back</a>
    </div>
    <div class="card w-50" style="margin: 1.5em auto">
        <div class="card-header"><h3>Update user</h3></div>
        <div class="card-body">
            <form action="/user/update" method="post" >
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <!--                ERROR-->
                <div class="alert alert-danger" role="alert" th:if="${error}"
                     th:text="${error}"></div>

                <!--                PASSWORD-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Current password:</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" name="password"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">New password:</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" name="newPassword"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Confirm new password:</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" name="newPasswordConfirm"/>
                    </div>
                </div>

                <!--                AVATAR-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">New avatar image:</label>
                    <div class="col-md-8">
                        <input type="text" name="avatar" class="form-control">
                    </div>
                </div>

                <!--                LOCATION-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">City:</label>
                    <div class="col-md-8">
                        <select class="form-control" name="cityName">
                            <option th:each="city : ${cities}" th:text="${city}"
                                    th:selected="${city==user.getCity().getName()}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Address:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="address" th:value="${user.getAddress()}"/>
                    </div>
                </div>


                <button type="submit" class="btn btn-outline-dark btn-sm my-1">Update</button>

            </form>

        </div>


    </div>


</div>

</div>


</body>
</html>