<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <script th:replace="insert/fragment :: headerElement"></script>
</head>
<body>
<script th:replace="insert/fragment :: navbar"></script>
<div class="container" >
    <div class="row">
        <a class="btn btn-outline-dark btn-sm my-1" href="/">Back</a>
    </div>
    <div class="card w-50" style="margin: 1.5em auto">
        <div class="card-header"><h3>Registration form</h3></div>
        <div class="card-body">
            <form action="/user/registration"  method="post">

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<!--                ERROR-->
                <div class="alert alert-danger" role="alert" th:if="${error}"
                     th:text="${error}"></div>

<!--                LOGIN-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Login:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="login"/>
                    </div>
                </div>
<!--                PASSWORD-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Password:</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" name="password"/>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Confirm
                        password:</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" name="passwordConfirm"/>
                    </div>
                </div>

                <!--                LOGIN-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">E-mail:</label>
                    <div class="col-md-8">
                        <input type="email" class="form-control" name="email"/>
                    </div>
                </div>

                <!--                AVATAR-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Avatar image:</label>
                    <div class="col-md-8">
                        <input type="text" name="avatar" class="form-control">
                    </div>
                </div>

<!--                LOCATION-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Location:</label>
                    <div class="col-md-8">
                        <select  class="form-control" name="cityName">
                            <option th:each="city : ${cities}" th:text="${city}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Address:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="address" />
                    </div>
                </div>

<!--                DATE OF BIRTH-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Date of birth:</label>
                    <div class="col-md-8">
                        <input name ="dateOfBirth" type="date" value="1999-01-01" class="form-control">
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-dark btn-sm my-1">Create an account</button>

            </form>

        </div>
    </div>
</div>
</body>
</html>