<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <script th:replace="insert/fragment :: headerElement"></script>
</head>
<body>
<script th:replace="insert/fragment :: navbar"></script>
<div class="container" >
    <div class="row">
        <a class="btn btn-outline-dark btn-sm my-1" href="/">Back</a>

    </div>
    <div class="card"  style="margin: 1.5em auto; width:400px">
        <div class="alert alert-success" role="alert" th:if="${enabled}">
            Account successful enabled
        </div>
        <div class="card-header"><h3>Sign in</h3></div>
        <div class="card-body">

            <form action="/user/login"  method="post" >

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <!--                ERROR-->
                <div class="alert alert-danger" role="alert"
                     th:if="${param.error}"
                     th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">

                </div>
                <!--                LOGIN-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Login:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="login"/>
                    </div>
                </div>
                <!--                PASSWORD-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Password:</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" name="password"/>

                    </div>
                </div>
                <button type="submit" class="btn btn-outline-dark btn-sm my-1">Sign in</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>


